@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
